.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(26, 26, 26, 0.295);
    width: 850px;
    height: 860px;
    z-index: 1111;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .modal-content h1 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
  }
  
  .modal-content p {
    color: #666;
    line-height: 1.6;
  }

  .Close-Button{
    position: absolute;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10000;
    color: black;
    right: 20px;
    top: 20px;
    border: 1px solid #818181;
  }

  .modal-content button {
    margin-left: 3px;
  }

  .Close-Button:hover {
    background-color: #cca707;
  }

  .Comment-Box{
    margin-top: 20px;
    margin-bottom: -20px;
    border-radius: 10px;
    width: 725px;
    border: 1px solid #a6a6a6dc;
    padding: 20px 20px 00px 20px;
    background-color: #ffff;
    position: relative;
    left: 32px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);

  }