.Login{
  position: relative; 
  top: -220px;
  left: 1120px;
  font-size: 24px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.LoginName{
  position: fixed; 
  top: 50px;
  right: 35px;
  font-size: 24px;
  background-color: transparent;
  border: 0px;
  color: #6d9b6d;
}

.Login:hover {color: #6d9b6d}



.datepicker-container {
  position: absolute;
  z-index: 100;
}