.Search-Container{
  position: relative;
  left: 65px;
  width: 1055px;
  height: 200px;
  display: flex;
  justify-content: left; 
  gap: 20px; 
  margin-top: 20px;
  margin-bottom: -20px;
  border-radius: 10px;
  border: 1px solid #a6a6a6dc;
  padding: 20px 20px 00px 20px;
  background-color: #ffff;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
}

body {
  background-color: #E0E0E0 !important;
  overflow: hidden;
}

.Scroll-Area{
max-height: 715px;
padding: 10px;
overflow-y: auto;
overflow-x: hidden;
}

.Search-Image{
  left: 20px;
  position: relative;
  width: 300px;
  height: 177px;
  border-radius: 15px;
  background-color: #004AAD;
  border: 1px solid #A6A6A6;
  color: white;
  margin-right: 25px;
}

.explore_button{
  position: fixed;
    margin-top: 75px;
    width: 200px;
    height: 60px;
    left: 860px;
    border-radius: 15px;
    border: 1px solid #9b9b9b;
    background-color:#1c6632;
    color: white;
    margin-right: 25px;
}

.explore_button{
    position: fixed;
    margin-top: 80px;
    width: 200px;
    height: 50px;
    left:860px;
    border-radius: 15px;
    border: 1px solid #9b9b9b;
    background-color:#1c6632;
    color: white;
    font-size: 24px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
    cursor: pointer;
    font-size: 22px;
    z-index: 100;
  }
