.Explore-Container{
    position: relative;
    left: 65px;
    top: 15px;
    width: 1125px;
    display: flex;
    height: 420px;
    justify-content: center; 
    gap: 20px; 
    background-color: white;
    display: inline-flex;
    border: 1px solid #A6A6A6;
    border-radius: 15px;
    overflow-y: auto;
    font-size: 20px;
}

.Places-Container{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    display: flex;
    gap: 10px; 
    display: inline-flex;
    padding: 10px;
    height: max-content;
}

.Places-Item{
    margin-left: 30px;
    margin-right: 23px;
    height: 190px;
    display: flex;
    align-items: center;
    flex-basis: 300px;
    margin-top: 8px;
    background-color: #F7F7F7;
    border: 1px solid #A6A6A6;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
    cursor:pointer;
}

.Photo-Container{
    position: relative;
    object-fit: cover;
    background-color: black;
    height: 160px;
    width: 80px;
    display: flex;
    left: 8px;    
    margin-top: 0px;
    flex-basis: 140px;
    background-color: #F7F7F7;
    border: 1px solid #A6A6A6;
    border-radius: 15px;
}

.Explanation-Container{
    position: relative;
    height: 170px;
    left: 10px;    
    margin-top: 0px;
    flex-basis: 140px;
    border-radius: 15px;
    font-size: 20px;
}

.Places-Item:hover{
    background-color: #a6a6a663;
}





