
.Amenities-Container{
    position: relative;
    left: -25px;
    top: 10px;
    width: 1125px;
    display: flex;
    height: 450px;
    justify-content: center; 
    gap: 20px; 
    background-color: white;
    display: inline-flex;
    border: 1px solid #A6A6A6;
    border-radius: 15px;
    overflow-y: auto;
    font-size: 20px;
}

.Amenities{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 10px;
    width: 900px;
    height:max-content;
    padding-bottom: 40px;
    display: flex;
    gap: 10px; 
    background-color: white;
    display: inline-flex;
    border-radius: 15px;
    left: 70px;
    padding: 10px;
}

.Amenities-Item{
    display: flex;
    align-items: center;
    flex-basis: 430px;
    margin-bottom: 10px;
}