.Background_SignUp_Rectangle {
    height: 650px; 
    width: 1250px; 
    background-position: center;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
    background-color: #F7F7F7;
    border: 2px solid #C9C9C9; 
    border-radius: 20px;
    overflow: hidden;
}

.SignUp-line {
    position: relative; 
    height: 3px; 
    width: 1250px; 
    background-color: #C9C9C9;
    margin-top: 35px;
  }

  .signup_button{
    position: relative;
    top: -350px;
    width: 270px;
    height: 60px;
    left: 490px;
    border-radius: 20px;
    border: 1px solid #9b9b9b;
    background-color:#1c6632;
    color: white;
    font-size: 24px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
    cursor: pointer;
  }
  
  .signup_button:hover {background-color: #6d9b6d}

  .to_login{
    position: relative;
    top: -280px;
    width: 270px;
    height: 60px;
    left: 222px;
    border: 0px;
    background-color:transparent;
    color: #1c6632;
    font-size: 20px;
    cursor: pointer;
  }
  .to_login:hover {color: #6d9b6d}
