.Statistics-Container{
    background-color: #eeeeee;
    left: 95px;
    position: relative;
    width: 1040px;
    padding: 10px;
    border: 1px solid #c9c9c981;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.150), -3px -3px 5px 0px rgba(255, 255, 255, 0.300);
    border-radius: 15px;
}