table {
    width: 80%;               
    margin: 20px auto;        
    border-collapse: collapse; 
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.150), -3px -3px 5px 0px rgba(255, 255, 255, 0.300);
    font-size: 24px;
}

th {
    background-color: #1c6632; 
    color: white;              
    text-align: left;  
    border-bottom: 1px solid grey;         
    padding: 15px 20px;        
}
  
td {
    border-bottom: 1px solid #C9C9C9; 
    padding: 10px 20px;
    text-align: left;  
}
  
tbody tr:nth-child(odd) {
    background-color: #e0e0e07a; 
}
  
tbody tr:hover {
    background-color: #E0E0E0;    
}
  
thead th:first-child {
    border-top-left-radius: 10px; 
}
  
thead th:last-child {
    border-top-right-radius: 10px; 
}

.Delete-Button{
    position: relative;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    background-color:#799978;
    color: white;
    font-size: 24px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
    cursor: pointer;
}

.Create-Owner-Button{
    position: relative;
    left: 50px;
    width: 250px;
    top: 47px;
    height: 65px;
    border-radius: 15px;
    border: 1px solid #9b9b9b;
    background-color:#799978;
    color: white;
    font-size: 24px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
    cursor: pointer;
}
  