.Background_Rectangle {
  height: 650px; 
  width: 1250px; 
  background-position: center;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
  background-color: #cdecc3;
  border: 2px solid #C9C9C9; 
  border-radius: 20px;
}

.name_logo {
  position: relative; 
  background-image: url('../images/name.png');
  height: 300px;
  width: 200px; 
  background-repeat:no-repeat;
  background-size: 100%;
  left: 35px;
  top: 35px;
}

.line {
  position: relative; 
  height: 3px; 
  width: 1250px; 
  background-color: #C9C9C9;
  margin-top: -160px;
}

.form__group {
  position: relative;
  padding: 15px 0px 0;
  margin-top: 100px;
  width: 1000px;
  left: 370px;
}

.form__group2 {
  position: relative;
  padding: 15px 0px 0;
  top: 35px;
  width: 300px;
  left: 55px;
}


.form__group3 {
  position: relative;
  padding: 15px 0px 0;
  top: 35px;
  width: 300px;
  left: 25px;
}


.container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.form__field {
  position: relative;
  font-family: inherit;
  width: 500px;
  height: 50px;
  border: 1px solid #9b9b9b;
  border-radius: 15px;
  font-size: 24px;
  color: black;
  padding: 7px 20px;
  background: transparent;
  transition: border-color 0.2s, font-size 0.2s, padding 5.2s;
}
.form__field2 {
  font-family: inherit;
  width: 210px;
  height: 50px;
  border: 1px solid #9b9b9b;
  outline: 0;
  border-radius: 15px;
  font-size: 24px;
  color: black;
  padding: 7px 20px;
  background: transparent;
  transition: border-color 0.2s, font-size 0.2s, padding 5.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 2px;
  border-radius: 15px;
  border-image: linear-gradient(to right, #6d9b6d, #1c6632);
  border-image-slice: 5;
}

.form__field:focus ~ .form__label,
.form__field:not(:placeholder-shown) ~ .form__label {
  font-size: 20px;
  top: 7px;
  color: #147214;
  font-weight: 700;
  background-color: #F7F7F7;
}

.form__field2::placeholder {
  color: transparent;
}

.form__field2:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 2px;
  border-radius: 15px;
  border-image: linear-gradient(to right, #6d9b6d, #1c6632);
  border-image-slice: 5;
}

.form__field2:focus ~ .form__label,
.form__field2:not(:placeholder-shown) ~ .form__label {
  font-size: 20px;
  top: 7px;
  color: #147214;
  font-weight: 700;
  background-color: #F7F7F7;
}


.form__label {
  position: absolute;
  top: 33px;
  left: 15px;
  display: block;
  transition: 0.2s;
  font-size: 24px;
  color: #9b9b9b; 
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.search_button{
  position: relative;
  margin-top: 120px;
  width: 270px;
  height: 60px;
  left: 505px;
  border-radius: 20px;
  border: 1px solid #9b9b9b;
  background-color:#1c6632;
  color: white;
  font-size: 24px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
}

.search_button:hover {background-color: #6d9b6d}

.datepicker-container {
  position: absolute;
  z-index: 100;
}