.Reviews-Container{
    position: relative;
    left: 65px;
    top: 10px;
    width: 1125px;
    height: 450px;
    justify-content: center; 
    gap: 20px; 
    background-color: white;
    border: 1px solid #A6A6A6;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Rating-Container{
    display: inline-flex;
    position: relative;
    width: 1125px;
    display: flex;
    height: 100px;
    justify-content: center; 
    gap: 20px; 
    padding-top: 15px;
    border-bottom: 1px solid #A6A6A6;
    margin-bottom: 15px;
}

.Comments-Container{
    display: inline-flex;
    position: relative;
    width: 1125px;
    display: flex;
    min-height: 125px;
    max-height: 300px;
    justify-content: left; 
    gap: 20px; 
    padding-top: 15px;
    border-bottom: 1px solid #A6A6A6;
}

.Comment-Rating{
    left: 20px;
    position: relative;
    width: 40px;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: #004AAD;
    border: 1px solid #A6A6A6;
    color: white;
    padding-left: 15px;
}

.Rating{
    position: relative;
    width: 140px;
    height: 80px;
    justify-content: center; 
    border-radius: 15px;
    background-color: #F7F7F7;
    border: 1px solid #A6A6A6;
    
}

.Comment{
    left: 10px;
    top: -15px;
    font-size: 20px;
    position: relative;
    max-width: 1000px;
    min-width: 900px;
    min-height: 60px;
    max-height: 200px;
    justify-content: left; 
    padding-top: 15px;
}

.Date{
    position: relative;
    font-size: 14px;
    min-width: 110px;
    color:#1d1d1d;
    left: 1010px;
    top: -25px
}

.Comment-Button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    color:#004AAD;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-top: 58px;
    text-align: center;
    left: 146px;
}

.Comment-Panel{
    position: fixed;
    margin-top: -16px;
    height: 450px;
    background-color: white;
    width: 1128px;
    z-index: 100;
    border-radius: 15px;
    border: 1px solid #a6a6a6c2;
}

.Comment-Input{
    font-size: 22px;
    position: relative;
    padding: 20px;
    left: 50px;
    width: 1020px;
    margin-top: -20px;
    height: 180px;
    border: 1px solid #a6a6a6;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: "Arial";
    
}

