
.Hotel-Info{
    position: relative;
    width: 510px;
    height: 35px;
    border: 1px solid #A6A6A6;
    border-radius:15px;
    font-size: 20px;
    color: black;
    padding: 7px 20px;
    background: white;
    top: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.Hotel_Detail_Button{
    position: relative;
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    font-size: 20px;
    cursor: pointer; 
    outline: none; 
    left: -224px;
}


.Active-Hotel_Detail_Button{
    border-bottom: 4px solid #004AAD;
}

.Overview-Panel{
    height: 430px;
    justify-content: center; 
    gap: 20px; 
}

.Amenities-Panel{
    display: flex;
    height: 430px;
    justify-content: center; 
    gap: 20px; 
    background-color: red;
    display: inline-flex;
}

.Booking_Button{
    font-size: 30px;
    left: 980px;
    position: relative;
    top: -120px;
    color: white;
    background-color: #17AD38;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    border: 1px solid #A6A6A6;
}

.Booking_Button:hover {background-color: #12c539}