.ProfileButton{
    position: relative; 
    top: -4px;
    left: 350px;
    font-size: 24px;
    background-color: transparent;
    border: 0px;
    margin-left: 30px;
    cursor: pointer;
  }

  .ProfileButton:hover {color: #6d9b6d}

  .Active-ProfileButton{
    color:#6d9b6d
  }

.ProfileButton-Panel-Container{
  position: relative;
  top: 250px;
  width: 1250px;;
  height: 600px;
}

.Discounts-Box{
  left: 350px;
  position: relative;
  align-content: center;
  text-align: center;
  border-radius: 15px;
  width: 550px;
  height: 120px;
  background-color: white;
  border: 1px solid #6d9b6d;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.150), -3px -3px 5px 0px rgba(255, 255, 255, 0.300);
  margin-top: 25px ;
}

.cancel_button{
  position: relative;
  margin-top: -25px;
  width: 390px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid #9b9b9b;
  background-color:#799978;
  color: white;
  font-size: 24px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.158), -3px -3px 5px 0px rgba(255, 255, 255, 0.295);
  cursor: pointer;
}

.cancel_button:hover {background-color: #6d9b6d}
